<!doctype html>
<!doctype html>
<meta charset="utf-8">

<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>



<div id="div"></div>

<div id="viz"></div>


<script>
    $( document ).ready(function() {
  // Handler for .ready() called.
        alert("Listo para cargar");
        $.getJSON("http://localhost:1337/costumer" /* , "http://localhost:1337/ruta", */ , function(result){
            alert(result);
            console.log(result);
            /*
            var visualization = d3plus.viz()
                .container("#viz")
                .data(result)
                .type("bubble")
                .id("email")
                .x("id")
                .y("name")
                .draw();
                */

               

            var visualization = d3plus.viz()
                .container("#viz")
               .data(result)
                .type("bar")
                .id("name")
                .x("name")
                .y("value")
                .draw()




        });
    });

</script>